<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.rawgit.com/balzss/luxbar/ae5835e2/build/luxbar.min.css">
  <link rel="stylesheet" type="text/css" href="../semantic/dist/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
  <script src="../semantic/dist/semantic.min.js"></script>
  <title>Document</title>
</head>
<body>
    
    <div id="app">
        <div id="luxbar" class="luxbar-fixed">
            <input type="checkbox" class="luxbar-checkbox" id="luxbar-checkbox"/>
            <div class="luxbar-menu luxbar-menu-right luxbar-menu-dark">
                <ul class="luxbar-navigation">
                    <li class="luxbar-header">
                        <router-link to="/" class="luxbar-brand">Dappic</router-link>
                        <label class="luxbar-hamburger luxbar-hamburger-doublespin" 
                        id="luxbar-hamburger" for="luxbar-checkbox"> <span></span> </label>
                    </li>
                    <li class="luxbar-item"><router-link to="/publish">Publish</router-link></li>
                    <li class="luxbar-item"><router-link to="/market">Market</router-link></li>
                    <li class="luxbar-item"><router-link to="/mypage">Mypage</router-link></li>
                    <li class="luxbar-item"><a href="/init">Contact</a></li>
                </ul>
            </div>
        </div>
        <!-- <li v-for="n in even(numbers)">{{ n }}</li> -->
        <!-- <li v-for="n in evenNumbers">{{ n }}</li> -->
        
        
        <!-- リンク先を `to` プロパティに指定します -->
        <!-- デフォルトで <router-link> は `<a>` タグとしてレンダリングされます -->
        
        <div class="main_wrap">
          
          <router-view></router-view>
          
        </div>
      </div>

<!-- <script src="https://cdn.jsdelivr.net/vue/2.0.3/vue.min.js"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/vue.router/2.0.1/vue-router.min.js"></script> -->


<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script> -->
<!-- <script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script> -->

<script src="https://unpkg.com/vue@2.4.2/dist/vue.min.js"></script>
<script src="https://unpkg.com/vue-router@2.7.0/dist/vue-router.min.js"></script>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="js/web3.min.js"></script>
<script src="js/contract_abi.js"></script>
<script src="js/buffer.js"></script>
<script src="js/ipfs.js"></script>
<!-- <script src="js/data.js"></script> -->
<script src="js/start.js"></script>
<script src="js/start_publish.js"></script>
<script src="js/start_market.js"></script>

<script>
var router = new VueRouter({
  // 各ルートにコンポーネントをマッピングします
  // コンポーネントはVue.extend() によって作られたコンポーネントコンストラクタでも
  // コンポーネントオプションのオブジェクトでも構いません
  routes: [
    {
      path: '/',
      
      component: {
        template: `
        <div class="top_container">
            <div class="ui text container">
                <h1>Digital Content Marketplace</h1>
                <h2>You can publish your Digital content as ERC721 token on Ethereum platform.</h2>
                <br>
                <div class="ui action big fluid input search_box">
                    <input type="text" placeholder="Search...">
                    <button class="ui teal big icon button">
                      <i class="search icon"></i>
                    </button>
                  </div>
                  <br>
                <!-- <a href="/publish"><div class="ui huge primary button"> Get Started <i class="right arrow icon"></i></div></a> -->
            </div>
          </div>
        ` 
      }
    },
    {
      path: '/publish',
      component: {
        template: `
            <div class="ui segment ">
              <div class="ui inverted dimmer">
                <div class="ui text loader">ロード</div>
              </div>
                   
                <div class="wrap">
                    <form class="ui form">
                        <div class="field">
                            <label>Image</label>
                            <!-- imgアップしたら表示させる -->
                            <div class="">
                                <label for="publish" class="file" >
                                    <div class="image_box"><i class="fas fa-camera img_text"></i></div>
                                    <input type="file" id="publish" />
                                </label>
                            </div>
                            
                        </div>

                        <div class="field">
                            <label>Title</label>
                            <input type="text" name="name" id="e_name" placeholder="">
                        </div>
                        <div class="field">
                            <label>Description</label>
                            <textarea id="e_desc"name="desc"></textarea>
                        </div>
                        <div class="field">
                            <div class="ui checkbox">
                            <input type="checkbox" tabindex="0" >
                            <label>I agree to the terms of service</label>
                            </div>
                        </div>
                        
                        <!-- <button class="ui blue button" type="submit">出品する</button> -->
                        <div id="confirm" class="fluid ui teal button">Publish</div>
                        <br>
                        <div class="fluid ui grey button" >back</div>
                    </form>
                </div>
            </div>
    
            

            <div id="dev" style="display: none;">
                <p id="message"></p>
                <p><a src="" id="link">ipfs_image</a></p>
                <p><a src="" id="link2">ipfs_uri</a></p>
                <p><a src="" id="link3">https://ipfs.io/ipfs/Qmdc3gRYPqVNDVqkjcWk8qjjuX6duhxaggZU8DQcYXwpEW</a></p>
            </div>
        `
      },
      beforeEnter: function(to, from, next){
          
            // checkweb3()
            // startApp()
            // start_Publish()
            console.log('publish')
            next()

      },
      // afterEnter: function(to, from){
      //   // $('.ui .active .inverted .dimmer').dimmer('hide');
        
      //   // $('.dimmer').dimmer('hide');
      //   console.log('ok')
      // }
    },
    
    {
      path: '/market',
      name:'market',
      data:{
        items:items
      },
      component: {
        template: `
        <div class="ui segment1 ">
          <div class="ui inverted dimmer">
            <div class="ui text loader">ロード</div>
          </div>
          <div class="">
              <div id="pic_container">
              <div v-for="item in items" v-bind:key="items.name" class="pic_img">
                <router-link :to="{ name:'show', params:{itemId: item.id}}" class="item"><img v-bind:src="item.image"  alt="" height="250" width="350"></router-link>
              </div>
              </div>
          </div>
        </div>
        `
      }
    },
    {
      path: '/show/:itemId',
      name:'show',
      component: {
        template: `
        <div class="show_container">
          <div class="img_box">
            <img v-bind:src="items[$route.params.itemId].image" alt="" width="100%">
          </div>
          <div class="img_detail">
            <div class="title">{{ items[$route.params.itemId].name }}</div>
            <div class="owner" id="owner"><span>Owned by </span>{{ items[$route.params.itemId].owner }}</div>
            <div class="description">{{ items[$route.params.itemId].description }}</div>
            <div v-if="userAccount === items[$route.params.itemId].owner">
              <div class="sell_msg">You can sell this token</div>
              <div class="price">Ξ<span><input type="text" id=price_input value=""></span></div>
              <button id="sell" class="ui primary button">sell</button>
            </div>
            <div v-else>
              <div class="price">Ξ<span id=price_val>0.02</span></div>
              <button id="buy" class="ui primary button">Buy now </button>
            </div>
          </div>
          <p id="number">{{ $route.params.itemId }}</p>
          <router-link to="/market">戻る</router-link>
        </div>
        `
      },
      props: { 
        name: 'itemId' 
      },
      

      beforeEnter: function(to, from, next){
          console.log(name)
          console.log(userAccount)
          
          next()

      },
      
    },
    {
      path: '/mypage',
      name:'mypage',
      data: {
          numbers: [ 1, 2, 3, 4, 5 ]
        },
      computed: {
        evenNumbers: function () {
          return this.numbers.filter(function (number) {
            return number % 2 === 0
          })
        }
      },
      methods: {
        even: function (numbers) {
          return numbers.filter(function (number) {
            return number % 2 === 0
          })
        }
      },
      component: {
        template: `
        <li v-for="n in evenNumbers">{{ n }}</li>
        <router-link to="/market">戻る</router-link>
        `
      }
    },
    {
      path: '/user/:itemId',
      name:'user',
      component: {
        template: `
        <div>ユーザーIDは {{ $route.params.itemId }}</div><div>{{ name }}</div>
        <router-link to="/market">戻る</router-link>
        `
      }
    }
  ]
})


var items =[]

//NodeAPI取得出来たら空にする
var data =[
  // "https://ipfs.io/ipfs/QmcWkBA2xXLwTU6NeAj3LikQeAZMPBMmcLrvkvv5uuboNj",
  // "https://ipfs.io/ipfs/QmcGdhvs3pj7RjP58TXn1v4A3j83Bg3z8LsmQ8Mk7FLvwu",
  // "https://ipfs.io/ipfs/QmcNTcEsRAvgVwH6JcGXXSrtzigF4wgd7fRM93eLgb4rsX",
  // "https://ipfs.io/ipfs/QmZxjbx6LmeYdWbRcQ89bFNeW2MfD6ouVjwZcLPwGgPAPE",
  // "https://ipfs.io/ipfs/QmPLdu9NTxbo6hUbV8XmercPSkXAkjvStFVcxC88qD4tBM",
  // "https://ipfs.io/ipfs/QmViUSvJm7jU3L4mM64b1BYj6WiWCECZ5Dj6oFXWDxUCLG",
  // "https://ipfs.io/ipfs/Qmdz3fnRuHsbVmswoDZGo4ZUQCCrmggD61fUE4xKKRVceH",
  // "https://ipfs.io/ipfs/QmQgFKWjBHGfaaXx8FXes1VKWsEQgdchLnPDrnBL2xa9Qe"
]

// ルーターのインスタンスをrootとなるVueインスタンスに渡します
var app = new Vue({
  // el: '#app',
  router: router,
  // methods: {
  //   even: function (numbers) {
  //     return numbers.filter(function (number) {
  //       return number % 2 === 0
  //     })
  //   },

  // },
  
  // computed: {
  //       evenNumbers: function () {
  //         return this.numbers.filter(function (number) {
  //           return number % 2 === 0
  //         })
  //       }
  //     },

  
  mounted: function(){
    $('.segment1').dimmer('show');
    // axios.get('https://dappic-test.glitch.me/getData')
    axios.get('http://localhost:3000/getData')
    .then(function(response){
      data = response.data
      // console.log(data)

      for(let i =0; i<data.length; i++){
          var n = data[i]
          console.log(n)
            items.push({
              id: i,
              name: data[i].name,
              description: data[i].description,
              image: data[i].image,
              publisher: data[i].publisher,
              owner: data[i].owner
            })
        }
        console.log(items)
        // console.log(data)
        $('.segment1').dimmer('hide');

    }.bind(this))
    .catch(function(error){
      console.log(error)
    })

  
}
// })
}).$mount('#app')

</script>
  
</body>
</html>